.comments-list {
    padding: 20px;
}

.comment-item {
    padding: 5px 15px;
    border: 1px solid rgb(241, 197, 197);
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-user {
    font-weight: bold;
    color: grey;
}

.comment-body {
    color: rgb(150, 150, 150);
}

.k-loader {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.message {
    text-align: center;
}

