<div class="container home">
  <button kendoButton (click)="openModal()" class="addButton">ADD USER</button>
  <kendo-grid
    [data]="users"
    (cellClick)="getRowUserInfo($event)"
    (dblclick)="rowClickHandler()"
    scrollable="none"
  >
    <kendo-grid-column
      field="name"
      title="Name"
      [headerStyle]="{
        'background-color': '#d6534a',
        color: '#fff'

      }"
    ></kendo-grid-column>
    <kendo-grid-column
      field="email"
      title="Email"
      [headerStyle]="{
        'background-color': '#d6534a',
        color: '#fff'
      }"
    ></kendo-grid-column>
    <kendo-grid-column
      field="address"
      title="Address"
      [headerStyle]="{
        'background-color': '#d6534a',
        color: '#fff'
      }"
    ></kendo-grid-column>
    <kendo-grid-column
      field="phone"
      title="Phone"
      [headerStyle]="{
        'background-color': '#d6534a',
        color: '#fff'
      }"
    ></kendo-grid-column>
  </kendo-grid>
</div>
<app-add-user-form
  [isModalOpen]="isModalOpen"
  (onModalClose)="closeModal()"
></app-add-user-form>
